body{
  background-color: #13005A;
  font-size: 33px;
  text-align: center;
}

button{
  background-color: #FB2576;
  font-size: 33px;
  font-family: Impact;
  /* font-family: 'Shadows Into Light', cursive; */
  margin-bottom : 20px;
  border-radius: 6px;
}

.element{
  font-family: 'Shadows Into Light', cursive;
}

button:hover{
  width:auto;
  background-color:yellow;
  letter-spacing: 3px;
  /* height: 10%; */
  font-size: 30px;
  border-radius: 8px;
}

#inputArea{
  font-size: 20px;
  height: 25px;
  width: 30%;
}

/* Codepen code*/
body, html, #app {
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  overflow: hidden;
  touch-action: pan-up;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

#app h1 {
  --fontSize: 60px;
  --lineHeight: 80px;
  width: auto;
  /* height: calc(2 * var(--lineHeight)); */
  line-height: var(--lineHeight);
  /* margin: calc(50vh - var(--lineHeight)) auto 0; */
  font-size: var(--fontSize);
  margin-top: 1%;
  margin-bottom:2.5%;
  /* text-transform: uppercase; */
}

#app a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

/* #app canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
} */

/* Neon Button */
#inputArea{
  width:auto;
  height:auto;
  background-color: rgba(0,0,0,0.1);
}

a{
    position: relative;
    display: inline-block;
    /* padding: 25px 30px; */
    /* margin: 40px 0; */
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;

}
a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
